databases:
  - name: hospital-db
    databaseName: hospital_db
    user: hospital_user
    plan: free

services:
  - type: web
    name: hospital-management-system
    runtime: python
    plan: free
    buildCommand: ./build.sh
    startCommand: gunicorn hospital_system.wsgi:application
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: "3.11.0"
      - key: DATABASE_URL
        fromDatabase:
          name: hospital-db
          property: connectionString
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
